

<div class="container">
    <header>
        <h1>Pure <strong>CSS</strong> Progress</h1>
        <p>... a pretty liquid progress-bar.</p>
    </header>
    <section>
        <article>
            <input type="radio" name="switch-color" id="red" checked>
            <input type="radio" name="switch-color" id="cyan">
            <input type="radio" name="switch-color" id="lime">
            <div class="chart">
                <div class="bar bar-75 white">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar"></div>
                    </div>
                </div>
            </div>
            <p>Try another color :)</p>
            <nav class="actions">
                <label for="red">Red</label>
                <label for="cyan">Cyan</label>
                <label for="lime">Lime</label>
            </nav>
        </article>
        <article>
            <input type="radio" name="switch-pos" id="pos-0">
            <input type="radio" name="switch-pos" id="pos-1">
            <input type="radio" name="switch-pos" id="pos-2" checked>
            <input type="radio" name="switch-pos" id="pos-3">
            <div class="chart">
                <div class="bar bar-30 white">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar"></div>
                    </div>
                </div>
            </div>
            <p>Try another position :)</p>
            <nav class="actions">
                <label for="pos-0">1/4</label>
                <label for="pos-1">2/4</label>
                <label for="pos-2">3/4</label>
                <label for="pos-3">Full</label>
            </nav>
        </article>
        <article>
            <input type="radio" name="exercises" id="exercise-1" checked>
            <input type="radio" name="exercises" id="exercise-2">
            <input type="radio" name="exercises" id="exercise-3">
            <input type="radio" name="exercises" id="exercise-4">
            <div class="chart grid">
                <div class="exercise second">
                    <div class="bar bar-45 navy lightGray-face">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar"></div>
                        </div>
                    </div>
                    <div class="bar bar-80 yellow lightGray-face">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar"></div>
                        </div>
                    </div>
                    <div class="bar bar-60 red lightGray-face">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <p><em>It's liquid</em>, so adding a bit of code you can make charts like this :P</p>
            <nav class="actions">
                <label for="exercise-1">E-1</label>
                <label for="exercise-2">E-2</label>
                <label for="exercise-3">E-3</label>
                <label for="exercise-4">E-4</label>
            </nav>
        </article>
    </section>
</div> 


<div class="wrap-circles">
    <div class="circle per-25">
      <div class="inner">0%</div>
    </div>
    <div class="circle per-25">
      <div class="inner">25%</div>
    </div>
    <div class="circle per-50">
      <div class="inner">50%</div>
    </div>
    <div class="circle per-75">
      <div class="inner">75%</div>
    </div>
    <div class="circle per-100">
      <div class="inner">100%</div>
    </div>
  </div>



  <div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            UI/Web&amp;Graph design for teenagers 11-17&#160;years old
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            UX/UI Web-Design&#160;+ Mobile Design
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Annual package "Product+UX/UI+Graph designer&#160;2022"
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Graphic Design
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Motion Design
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              30.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Front-end development&#160;+ jQuery&#160;+ CMS
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg">
          </div>
          <div class="ag-courses-item_title">
            Digital Marketing
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Interior Design
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              31.10.2022
            </span>
          </div>
        </a>
      </div>
  
    </div>
  </div>

  

<div class="progress">
    <div class="progress-value"></div>
  </div>
  
  