<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Verify PAN</div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Verify GST</div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Verify Driving License</div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Verify CIN</div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Verify Passport</div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Verfiy Shop Establishment</div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         Verfiy Landline Telephone
        </div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">Verify Bank Account</div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Verfiy LPG</div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Verfiy PNG</div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Verify Electricity Bill</div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Verify Voter ID</div>

        <div class="ag-courses-item_date-box">
          <button class="aesthetic-btn">Verify Here</button>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Verify TAN</div>

        <div class="ag-courses-item_date-box">
     

          <button class="aesthetic-btn">Verify Here</button>

        </div>
      </a>
    </div>
  </div>
</div>
