<body>
  <span class="login-container" *ngIf="openModal">
    <span class="content-container">
      <h1>Login to your account!</h1>
      <p>Don't have an account? <span class="signUp">Sign Up!</span></p>
      <hr class="hr" />
      <label>Mobile Number</label>
      <input type="text" placeholder="xxxxx-xxxxx" />
      <button class="aesthetic-btn"><span>Send OTP </span></button>
      <span>
        <div class="otp-group">
          <input
            type="tel"
            class="otp-input"
            name="otp1"
            formControlName="otp1"
            onKeyPress="if(this.value.length==1) return false;"
            (keyup)="changeFocus(1)"
          />
          <input
            type="tel"
            class="otp-input otp2"
            id="otp2"
            name="otp2"
            #otp2
            formControlName="otp2"
            onKeyPress="if(this.value.length==1) return false;"
            (keyup)="changeFocus(2)"
          />
          <input
            type="tel"
            class="otp-input"
            name="otp3"
            #otp3
            (keyup)="changeFocus(3)"
            formControlName="otp3"
            onKeyPress="if(this.value.length==1) return false;"
          />
          <input
            type="tel"
            class="otp-input"
            name="otp4"
            #otp4
            (keyup)="changeFocus(4)"
            formControlName="otp4"
            onKeyPress="if(this.value.length==1) return false;"
          />
          <input
            type="tel"
            class="otp-input"
            name="otp5"
            #otp5
            (keyup)="changeFocus(5)"
            formControlName="otp5"
            onKeyPress="if(this.value.length==1) return false;"
          />
          <input
            type="tel"
            class="otp-input"
            name="otp6"
            #otp6
            formControlName="otp6"
            onKeyPress="if(this.value.length==1) return false;"
          />
        </div>
      </span>

      <button class="aesthetic-btn">Submit</button>
    </span>
  </span>

  <div class="container" *ngIf="!openModal">
    <div class="left">
      <h1>
        Digitally Verify Your Identity Anywhere in the World with KYC Solutions.
      </h1>

      <br />
      <h2>
        Experience fastest, most secure digital verification for your identity
        from anywhere in the world with our KYC solutions
      </h2>

      <br />
      <br />

      <button class="aesthetic-btn" (click)="changeModal()">Get Started</button>
    </div>
    <div class="right">
      <img src="../../../assets/NSDC_Digital_Logo__1_-removebg-preview.png" />
    </div>
  </div>
  <hr />
  <br />
  <br /><br />

  <div class="containers">
    <div class="text">
      <h1>Fastest verification across the world.</h1>
      <h3>
        With VerifyNow, experience instant and secure KYC verification that can
        be done from anywhere in the world within a few minutes, saving time and
        resources
      </h3>
    </div>
    <div class="image">
      <img src="../../../assets/img (1).png" alt="Placeholder image" />
    </div>
  </div>

  <div class="containers">
    <div class="image">
      <img src="../../../assets/img (2).png" alt="Placeholder image" />
    </div>
    <div class="text">
      <h1>Secure digital verification.</h1>
      <h3>
        IDVerify provides the most secure and digital verification solutions
        that protect your identity and ensure data privacy, keeping your
        personal information confidential.
      </h3>
    </div>
  </div>

  <div class="containers">
    <div class="text">
      <h1>Easy verification of multiple information.</h1>
      <h3>
        Our KYC solutions make it easy and seamless to verify multiple
        information of individuals like name, certifications, occupation,
        address, previous job details, and more, simplifying the verification
        process.
      </h3>
    </div>
    <div class="image">
      <img src="../../../assets/img (3).png" alt="Placeholder image" />
    </div>
  </div>

  <div class="containers">
    <div class="image">
      <img src="../../../assets/img (4).png" alt="Placeholder image" />
    </div>
    <div class="text">
      <h1>Easy verification of multiple information.</h1>
      <h3>
        Our KYC solutions make it easy and seamless to verify multiple
        information of individuals like name, certifications, occupation,
        address, previous job details, and more, simplifying the verification
        process.
      </h3>
    </div>
  </div>
  <br />

  <div class="card-testmonial">
    <h1 class="header-testmonial" style="text-align: center">
      "IDVerify provides the most secure KYC verification solutions I have come
      across, making me confident to use it over and over again."
    </h1>
    <div class="circle-images">
      <img src="image1.jpg" alt="Image 1" class="circle" />

    </div>
  </div>

  <br />

  <div class="card">
    <div class="circle-images">
      <img src="image1.jpg" alt="Image 1" class="circle" />
      <img src="image2.jpg" alt="Image 2" class="circle" />
      <img src="image3.jpg" alt="Image 3" class="circle" />
    </div>
    <h1 class="header">Header Text</h1>
  </div>
  <br />
</body>
