.container {
  display: flex;
  padding: 5%;
}

.container > .left {
  padding-top: 15%;
  justify-content: center;
}

.button {
  border-radius: 4px;
  background-color: rgb(64, 107, 145);
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  width: 200px;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.login-container {
  display: block;
  height: 100vh;
  z-index: 999;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  max-height: 100%;
  z-index: 10;
  position: relative;
  border: 1px white solid;
  background-color: black;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.content-container > p {
  font-size: large;
  margin: 0px;
  margin-bottom: 15px;
}

.content-container > h1 {
  margin: 0px;
}

.content-container > label {
  font-size: medium;
  font-weight: 300;
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16px;
}

.content-container > input {
  background-color: black;
  color: grey;
  border: 0px;
  border-bottom: 2px solid grey;
  margin-bottom: 20px;
  height: 40px;
  font-weight: 800;
  font-size: 20px;
  padding-left: 2%;
}

input::placeholder {
  font-size: 20px;
}

button {
  background-color: rgb(64, 107, 145);
  color: white;
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px white;
  border: 1px solid white;
}

.button {
  background-color: rgb(64, 107, 145);
  color: white;
  border: 0px;
  padding: 10px;
  font-weight: 700;
  width: 98%;
  box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0, 5px 5px 0;
}

button:active {
  top: 5px;
  left: 5px;
  box-shadow: 0 0 0 0;
}

.left > .button { 
    width: 75%;
}

.otp-group{
    display: flex;
    justify-content: space-between;
  }

  .otp-input{
    margin-top: 4%;
    width: 35px;
    background-color: black;
    color: grey;
    border: 0px;
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
    height: 40px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
  }