
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  nav {
    background-color: black;
    color: white;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .nav-logo {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    height: 100px;
    width: 100px;
  }

  .topnav-logo{
    height: 120px;
    width: 120px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .nav-links a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-links a:hover {
    background-color: #444444;
  }
  
  .nav-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .nav-toggle {
      display: block;
      cursor: pointer;
    }
  
    .nav-toggle span {
      display: block;
      background-color: white;
      height: 3px;
      width: 25px;
      margin: 5px;
    }
  }
  
  @media (max-width: 992px) {
    .nav-container {
      padding: 0 40px;
    }
  }
  
  @media (max-width: 1200px) {
    .nav-container {
      max-width: 960px;
    }
  }
  