<body>
  <div class="container">
    <div class="left">
        <img src="../../../assets/IMG_0389.GIF" style="width: 800px; height: 600px"/>
      <!-- <lottie-player
        src="../../../assets/41ypxFNFIP.json"
        background="transparent"
        speed="1"
        style="width: 400px; height: 200px"
        loop
        autoplay
      ></lottie-player>
      <div class="content">
        <h1>Welcome to NSDC Digital Verified Credentials</h1>
        <h3>
          Working toward giving a easier and digital way to verify anyone from
          Person to <br/>company to the imagination.Re-imagine Future with us.<br/>
        </h3>
        <lottie-player
            src="https://assets9.lottiefiles.com/packages/lf20_N3IbTTWRWt.json"
            background="transparent"
            speed="1"
            style="width: 400px; height: 200px; margin-left: 300px;"
            loop
            autoplay
          ></lottie-player>
      </div> -->
    </div>
    <div class="right">
      <div class="login-container">
        <!-- <span class="img-container">
          <img
            src="../../../assets/NSDC_Digital_Logo__1_-removebg-preview.png"
            height="180"
            width="180"
          />
        </span> -->
        <span class="content-container">
          <h1>Login to your account!</h1>
          <p>Don't have an account? <span class="signUp">Sign Up!</span></p>
          <hr class="hr" />
          <label>Mobile Number</label>
          <input type="text" placeholder="xxxxx-xxxxx" />
          <button class="button"><span>Send OTP </span></button>
        </span>
      </div>
    </div>
  </div>

  <div class="footer">
    <p></p>
  </div>
</body>
