/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    color: white;
    font-family: 'Calibri';
    height: 100vh;
    background-image: url('../src/assets/black-13495.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}